<!--<!DOCTYPE html>-->
<!--<html class="home" lang="zxx" ng-app="easyrateApp">-->

<!--<head>-->

	<!--<title>Test</title>-->

	<!--<meta charset="utf-8" />-->

	<!--<meta name="viewport" 		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
	<!--<meta name="author" 		content="XCodes Club">-->
	<!--<link rel="stylesheet" href="../../../css/raiteStars.css">-->
	<!--<link href="https://fonts.googleapis.com/css?family=Lato:400,300,700,900,700italic,400italic,300italic" rel="stylesheet" type="text/css">-->
	<!--<link rel="stylesheet" href="../../../css/angular-ui-notification.min.css">-->
	<!--<link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css" />-->
	<!--<link rel="stylesheet" type="text/css" href="../../../css/font-awesome.min.css" />-->
	<!--<link rel="stylesheet" type="text/css" href="../../../css/perfect-scrollbar.min.css" />-->

	<!--&lt;!&ndash; <link rel="stylesheet/less" type="text/css" href="less/template.less" /> &ndash;&gt;-->
	<!--&lt;!&ndash; <script type="text/javascript" src="js/less.min.js"></script> &ndash;&gt;-->

	<!--<link rel="stylesheet" type="text/css" href="../../../css/style.css" />-->

	<!--<script type="text/javascript" src="../../../js/jquery.min.js"></script>-->
	<!--<script type="text/javascript" src="../../../js/perfect-scrollbar.jquery.js"></script>-->
	<!--<script type="text/javascript" src="../../../js/perfect-scrollbar.min.js"></script>-->

	<!--<script type="text/javascript" src="../../../js/script.js"></script>-->

	<!--<base href="/">-->

<!--</head>-->

<!--<body ng-controller="HomeController" >-->

<!--<div  >-->
	<!--<div class="header">-->
		<!--<span class="change-mode fa fa-refresh"></span>-->

		<!--<div class="logo">-->
			<!--<a href="/"><img src="../../../images/logo.png" alt="letsRate"></a>-->
			<!--<a class="small" href="/"><img src="../../../images/logo-small.png" alt="letsRate"></a>-->
		<!--</div>-->

		<!--<div>-->
			<!--<div class="guest">-->
				<!--<a href="/html/login" class="login">Login</a>-->
				<!--<a href="../../../html/register.html" class="register">Register</a>-->
			<!--</div>-->

			<!--<div class="member">-->
				<!--<span class="user-name">{{userData[0].USERNAME}}</span>-->
				<!--<a href="../../../html/profile.html" class="avatar">-->
					<!--<img    ng-src="{{userData[0].AVATAR}}">-->
					<!--&lt;!&ndash;<img src='https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAkpAAAAJDY0ZGU4MGQwLWI5MDMtNGJjYi1hOWFlLTdiNGEyODBiZjA0OA.jpg'>&ndash;&gt;-->
				<!--</a>-->
			<!--</div>-->

			<!--<a href="../../../html/add.html" class="add">Add</a>-->
			<!--<a href="javascript:void(0)" class="message fa fa-envelope-o"></a>-->
		<!--</div>-->
	<!--</div>-->

	<!--<div class="search-container">-->
		<!--<div class="search-container-inner">-->
			<!--<div class="container">-->
				<!--<div class="search-block">-->

					<!--<a href="javascript:void(0)"  class="fa fa-bars">-->
						<!--<select id="mySelect"  ng-click="getCategoryLvL1()"  ng-model="selectedItem" ng-options="item as item.NAME for item in categoryLVL1" ></select></a>-->
					<!--<input type="text" name="search" ng-model="searchingText;" type="search" name="search" value="What are you looking for?" onBlur="if(this.value=='')this.value='What are you looking for?'" onFocus="if(this.value=='What are you looking for?')this.value='' ">-->
					<!--<span class="fa fa-search"  ng-click="searching(searchingText,0,0,selectedItem.ID);mainPageEnable()"></span>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->

	<!--<div class="categories">-->
		<!--<div>-->
			<!--<div class="category-block col-sm-4" style="background-image: url('../../../images/categories/home.jpg'); ">-->
				<!--<div class="category-info">-->
					<!--<img src="../../../images/categories/home-icon.png" alt="home">-->
					<!--<span class="category-name">Home</span>-->
					<!--<span class="category-desc">Lorem ipsum Dolor sit amet.</span>-->
				<!--</div>-->
			<!--</div>-->

			<!--<div class="category-block col-sm-4" style="background-image: url('../../../images/categories/accessories.jpg'); ">-->
				<!--<div class="category-info">-->
					<!--<img src="../../../images/categories/accessories-icon.png" alt="accessories">-->
					<!--<span class="category-name">Accessories</span>-->
					<!--<span class="category-desc">Lorem ipsum Dolor sit amet.</span>-->
				<!--</div>-->
			<!--</div>-->

			<!--<div class="col-sm-4 multi">-->
				<!--<div class="category-block col-sm-12" style="background-image: url('../../../images/categories/shoes.jpg'); ">-->
					<!--<div class="category-info">-->
						<!--<img src="../../../images/categories/shoes-icon.png" alt="shoes">-->
						<!--<span class="category-name">Shoes</span>-->
						<!--<span class="category-desc">Lorem ipsum Dolor sit amet.</span>-->
					<!--</div>-->
				<!--</div>-->

				<!--<div class="category-block col-sm-12" style="background-image: url('../../../images/categories/electronics.jpg'); ">-->
					<!--<div class="category-info">-->
						<!--<img src="../../../images/categories/electronics-icon.png" alt="electronics">-->
						<!--<span class="category-name">Electronics</span>-->
						<!--<span class="category-desc">Lorem ipsum Dolor sit amet.</span>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->

		<!--<div>-->
			<!--<div class="col-sm-4 category-block" style="background-image: url('../../../images/categories/bags.jpg'); ">-->
				<!--<img src="" alt="bags">-->

				<!--<div class="category-info">-->
					<!--<img src="../../../images/categories/bags-icon.png" alt="bags">-->
					<!--<span class="category-name">Bags</span>-->
					<!--<span class="category-desc">Lorem ipsum Dolor sit amet.</span>-->
				<!--</div>-->
			<!--</div>-->

			<!--<div class="col-sm-4 category-block" style="background-image: url('../../../images/categories/clothing.jpg'); ">-->
				<!--<div class="category-info">-->
					<!--<img src="../../../images/categories/clothing-icon.png" alt="clothing">-->
					<!--<span class="category-name">Clothing</span>-->
					<!--<span class="category-desc">Lorem ipsum Dolor sit amet.</span>-->
				<!--</div>-->
			<!--</div>-->

			<!--<div class="col-sm-4 category-block" style="background-image: url('../../../images/categories/jewelry.jpg'); ">-->
				<!--<div class="category-info">-->
					<!--<img src="../../../images/categories/jewelry-icon.png" alt="jewelry">-->
					<!--<span class="category-name">Jewelry</span>-->
					<!--<span class="category-desc">Lorem ipsum Dolor sit amet.</span>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->

	<!--<div class="products">-->
		<!--<div class="title">-->
			<!--<span>Lorem ipsum</span>-->
		<!--</div>-->

		<!--<div class="container"  >-->
			<!--<div class="row">-->
				<!--<div class="col-md-3 col-sm-6" when-scrolled='show_more()'ng-repeat="product in getProductList">-->
					<!--<div class="product">-->
						<!--<div class="product-title">-->
							<!--<span>{{product.NAME}}</span>-->
						<!--</div>-->
						<!--<div class="product-details">-->
							<!--<div class="product-image">-->
								<!--<img src="{{product.RESOURCE}}">-->
							<!--</div>-->
							<!--<div class="product-desc">-->
								<!--<span>{{product.SHORT_TEXT | limitTo:letterLimit}}... </span>-->
							<!--</div>-->
							<!--&lt;!&ndash;Raiting&ndash;&gt;-->

							<!--<div class="product-info">-->

								<!--<div class="rate-stars selectable">-->
									<!--<div ng-init="rating = product.CURRENT_SCORE"></div>-->
									<!--<span style="cursor:auto" class="star-rating" star-rating rating-value="rating=rating" data-max="5"></span>-->
									<!--<span class="fa fa-star-o"></span>-->
									<!--<span class="fa fa-star-o"></span>-->
									<!--<span class="fa fa-star-o"></span>-->
									<!--<span class="fa fa-star-o"></span>-->
									<!--<span class="fa fa-star-o"></span>-->
								<!--</div>-->

								<!--<div class="rating">-->
									<!--<span>{{product.CURRENT_SCORE}}</span>-->
								<!--</div>-->
							<!--</div>-->
							<!--<div class="product-footer">-->
								<!--&lt;!&ndash;<a href="javascript:void(0)">Lorem ipsum dolor sit amet</a>&ndash;&gt;-->
								<!--<a  href="#/products/{{product.PRODUCT_ID}}" role="button"ng-click="mainPageDisable()">View details | </a>-->
								<!--<a  href="#/addReview/{{product.PRODUCT_ID}}" role="button"ng-click="mainPageDisable()">Reviews |</a>-->
								<!--<a  href="#/similar/{{product.PRODUCT_ID}}" role="button"  ng-click="mainPageDisable()">Similar </a>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->

			<!--</div>-->
		<!--</div>-->

		<!--<a href="javascript:void(0)" class="load-more">Load More</a>-->
	<!--</div>-->

	<!--<div class="footer">-->
		<!--<span>Copyright © 2016 ucraft. All rights reserved.</span>-->
		<!--<span>Privacy Policy</span>-->
	<!--</div>-->


<!--</div>-->




<!--</body>-->
<!--</html>-->